@import "../../sass/default/variable";

.modal-title,
.modal-subtitle {
  color: $base-color4;
}

.modal-body img {
  width: 100%;
  margin-bottom: 20px;
}

.link-container {
  display: flex;
  gap: 10px;
}

.link-url {
  color: $base-color1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $base-color4;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
}

// .link-url:hover {
//   background-color: #e0e0e0;
// }

// Carousel custom styles
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $base-color1; // pure yellow
  border-radius: 50%;
  padding: 8px;
  /* Remove filter for true color */
}

.carousel-indicators [data-bs-target] {
  background-color: $base-color1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 4px;
  transition: opacity 0.2s;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: $base-color4;
}
